<nav>
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/introduction' | relative_url }}">Introduction</a>
  <a href="{{ '/problem-definition' | relative_url }}">Problem</a>
  <a href="{{ '/methods' | relative_url }}">Methods</a>
  <a href="{{ '/results-discussion' | relative_url }}">Results</a>
  <a href="{{ '/references' | relative_url }}">References</a>
  <a href="{{ '/gantt-chart' | relative_url }}">Gantt</a>
  <a href="{{ '/contribution-table' | relative_url }}">Contributions</a>
  <a href="{{ '/proposal-doc' | relative_url }}">Proposal PDF</a>
</nav>
